<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" /> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/vue-destop/static/img/favicon.ico">
    <title>仓库中</title>
    <script>var GLOBLE_BASE = '/vue-destop'</script>
  <link href="/vue-destop/static/css/product/work/index.d86eefa59f722176ffce76d171684c4f.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div> 
  <script type="text/javascript" src="/vue-destop/static/js/manifest.20eca1115c208e3e307e.js"></script><script type="text/javascript" src="/vue-destop/static/js/vendor.67d92598e28d4ebda4ba.js"></script><script type="text/javascript" src="/vue-destop/static/js/product/work/index.c4fa9e4fd6758513bbef.js"></script></body>
</html>
