<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" /> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/vue-destop/static/img/favicon.ico">
    <title>仓库中</title>
    <!-- <script>var GLOBLE_BASE = '<%=basePath %>'</script> -->
  <link href="/vue-destop/static/css/product/work/index.ab40ff36720d908098f404d36572e781.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div> 
  <script type="text/javascript" src="/vue-destop/static/js/manifest.d9276e9e8f409f812792.js"></script><script type="text/javascript" src="/vue-destop/static/js/vendor.063dfb680e23bc976729.js"></script><script type="text/javascript" src="/vue-destop/static/js/product/work/index.65beaf433ae606cea6b8.js"></script></body>
</html>
