<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" /> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/vue-destop/static/img/favicon.ico">
    <title>仓库中</title>
    <script>var GLOBLE_BASE = '/vue-destop/views'</script>
  <link href="/vue-destop/static/css/product/work/index.3ba1a1c3b67a6ebd2427fee4934471f0.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div> 
  <script type="text/javascript" src="/vue-destop/static/js/manifest.5934c5015914f1cc62dd.js"></script><script type="text/javascript" src="/vue-destop/static/js/vendor.36a354f7496cc4552383.js"></script><script type="text/javascript" src="/vue-destop/static/js/product/work/index.55da314aecaac00da78e.js"></script></body>
</html>
