<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" /> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <title>表单</title>
    <!-- <script>var GLOBLE_BASE = '<%=basePath %>'</script> -->
  <link href="/static/css/form/index.a43df7448b50cb9d58a04b70d5d25063.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div> 
  <script type="text/javascript" src="/static/js/manifest.7b86ba3f58e63e57a67c.js"></script><script type="text/javascript" src="/static/js/vendor.063dfb680e23bc976729.js"></script><script type="text/javascript" src="/static/js/form/index.90d452deb72979cba0d2.js"></script></body>
</html>
