<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="format-detection" content="telephone=no,address=no,email=no" /> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/vue-destop/static/img/favicon.ico">
    <title>首页</title>
    <script>var GLOBLE_BASE = '/vue-destop/views'</script>
  <link href="/vue-destop/static/css/home/index.47dbf023f0f9abbf764fc2d5fe0c9008.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div> 
  <script type="text/javascript" src="/vue-destop/static/js/manifest.584e350416aed0d89540.js"></script><script type="text/javascript" src="/vue-destop/static/js/vendor.4c5870a17d411a83fcc1.js"></script><script type="text/javascript" src="/vue-destop/static/js/home/index.874225b9fff4e7aca730.js"></script></body>
</html>
