@import "var.less";

// reset
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 12px/1.5 @fontDefault;
  background: @bgColorDefault;
}

input, textarea, keygen, select, button {
  font-family:  @fontDefault;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// reset element-ui
.el-table .cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  .el-button-group {
    vertical-align: middle;
  }
  // .el-button--small {
  //   padding: 7px 11px;
  // }
}

.el-table__fixed-header-wrapper thead div, 
.el-table__header-wrapper thead div {
  background-color: @bgColorTableHeader;
  color: #475669;
  font-weight: normal;
}

.el-table th {
  background-color: @bgColorTableHeader;
}

// common 
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.vertical-middle {
  vertical-align: middle;
}

.ellipsis {
  .ellipsis();
}

.clearfix {
  .clearfix();
}

// table
.pagination-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
}


