* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: #e4e6e8;
}


// layout
.layout-aside {
	position: relative;
	min-height: 100%;
}

.layout-main {
	margin-left: 230px;
}

.layout-breadcrumb {
	margin: 10px 0 -14px 24px;
}

.layout-container {
	margin: 24px 16px;
	// padding: 10px;
	// background: #fff;
	min-height: 700px;
}

// 高搜
.advanced-search-form {
	padding: 30px;
  margin-bottom: 30px;
  background: #fff;
  .el-form-item__label {
    // color: #333;
  }
}

.search-form-tools {
  text-align: right;

  .search-form-toggle {
    float: left;
    padding-left: 0;
    font-size: 12px;
  }

  .search-form-btn + .search-form-btn {
    margin-left: 20px;
  }
}


// common 
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.vertical-middle {
  vertical-align: middle;
}

// table
.pagination-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;
}

table .cell .el-button-group {
  vertical-align: middle;
}
